{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block main %}
	<br />
	<img src="static/images/1.jpg" alt="Zachary's Spirit Animal"><br />
	<h1 class="text-info">This website is made to propose to my partner, Isabelle.<br />
	Whenever I'm not here in Cambridge I'm home in Colorado with them. We spend our time hiking, camping, cooking, coloring, and going to parks. We have adventures.<br />
	<img src="static/images/Snow covered mountain rocks.jpg" alt="Our time in Conrad's"><br />
	Isabelle loves to take pictures and finds that she never have enough space; I wanted to fix that. I wanted to make a way for my partner to be able to store her pictures from her phone without needing some special service or adapter or computer. So I made this website.
	<br /><img src="https://images.unsplash.com/photo-1464692805480-a69dfaafdb0d?auto=format&fit=crop&w=1950&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt ="adventure is out there"><br />
	<h2 class="text-info">We love the movie UP, and recording our adventures is her hobby. We can add more adventures on our site, uploading images and whatever files we might like, and download them later. Just like Ellie's book, these are the adventures to come.<br /></h2>

{% endblock %}
