{% extends "layout.html" %}

	<head><title>Live Your Life With Me</title></head>


{% block main %}
	<br />
	<img src="static/images/1.jpg" alt="Us hiking Flat-Irons"><br />
	<h1 class="text-info">This website is made to propose to my partner, Isabelle. It will be under the url <i>liveyourlifewith.me</i><br />
	<img src="https://images.unsplash.com/photo-1483682133120-7e669629877b?auto=format&fit=crop&w=1035&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="Raelyn's first birthday"><br />
	She and I have a beautiful daughter, Raelyn. Whenever I'm not here in Cambridge I'm home in Colorado with them. We spend our time hiking and camping and going to parks.<br />
	<img src="https://images.unsplash.com/photo-1440755130913-8711f8195bdf?auto=format&fit=crop&w=2070&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="Our time in Conrad's"><br />
	We both love to take pictures and find that we never have enough space, and I wanted to fix that. I wanted to make a way for my partner to be able to store her pictures from her phone without needing some special service or adapter or computer. So I made this website. <br />
	<img src="https://images.unsplash.com/photo-1464692805480-a69dfaafdb0d?auto=format&fit=crop&w=1950&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt ="adventure is out there"><br />
	<h1 class="text-info">We both love the movie UP, and we love to have and record our adventures. We can add more adventures here, and download them later. Just like Ellie's book, these are the adventures to come.<br /><br /> In the end, I'll have my partner read through this website with different text, so she can know how much I love her, and I will ask her to live her life with me.</h1>

{% endblock %}