{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
	<br />
	<img src="static/images/IG and Snow.jpg" alt="Us hiking Flat-Irons"><br />
	<h1 class="text-info">Today is the day Isabelle. I made this website for you, because<br /><i>I want to live my life with you.</i><br />
	<img src="static/images/Family with Uke.jpg" alt="Raelyn's first birthday"><br />
	Our perfect, beautiful daughter Raelyn is so happy. We made such a perfect baby, we could make more, and an amazing life for all of us.<br />We have gone and will go on so many adventures; hiking, camping, cooking, coloring, going to parks -- years of Adventures to come.<br />
	<img src="static/images/Snow covered mountain rocks.jpg" alt="Our time in Conrad's"><br />
	I made a way for you to be able to store those pictures from your phone without some special service or adapter or computer. This website is for you.<br />
	But it's also for us. It's our adventure book. We will always have access to make it grow. You will always have me to fix this, make it better, make you more and more things. Bookshelves, beds, websites, programs, cars -- you name it.<br /><i>I'll make it for you for the rest of our lives.</i>
	<br /><img src="https://images.unsplash.com/photo-1464692805480-a69dfaafdb0d?auto=format&fit=crop&w=1950&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt ="adventure is out there"><br />
	<h2 class="text-info">Let's fill this website up. Let's make it grow with us, our relationship. Let our website grow with our family.<br /><br /> You are everything to me Isabelle. <br />You are the object of my love. You have consumed my heart and it belongs to only you. <br />I only ever want to spend my time with you, I dream of your company,<br /> I hear your voice in the wind. <br />Isabelle you are my closest friend, <br />my deepest confidant, <br />my sincere partner, <br />my lifelong lover. <br />My mind, body, and soul is yours.<br /> <br /> <br />I want to ask you,<br /><i><strong>Will you live your life with me?</strong></i></h2>

{% endblock %}