{% extends "layout.html" %}

{% block head %}
    <title>LYLWM | Adventures | Add More</title>
{% endblock %}

{% block main %}
    <script>
         $(document).ready(function() {
                $("#upload").submit(function() {
                    if (!$("#upload input[name=file]").val())
                    {
                        alert("Choose a file");
                        return false;
                    }
                    return true;
                });
            });
    </script>

    <form id="upload" action="/upload" method = "POST" enctype = "multipart/form-data">
        <div class="form-group"><input type="file" name="file" /></div>
        <br />
        <div class="form-group">Tags:
            <select name="tag" placeholder="Tags">
                {% for tag in tags %}
                    <option value="{{tag}}">{{tag}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group"><input autocomplete="on" name="new_tag" placeholder="New Tags (separated by a space)" type="text"></div>
        <div class="form-group">Can others delete this?  <input name="permission" value="Can others delete?" type="checkbox"></div>
        <br />
        <button class="btn btn-primary" type="submit">Upload</button>

    </form>

{% endblock %}