{% extends "layout.html" %}
{% block title %}Viewer{% endblock %}

{% block main %}
    <br />
    <div class"jumbotron">
        <h1>{{file['name']}}</h1>
        <br />
        <img src="/static/home/{{file['name']}}.{{file['type']}}" alt="{{file['name']}}.{{file['type']}}">
        <table class="table table-striped table-hover table-bordered">
                <td>Owner</td>
                <td>Date</td>
                <td>Tags</td>
            <tr>
                <td>{{file['owner']}}</td>
                <td>{{file['date']}}</td>
                <td>{{file['tags']}}</td>
            </tr>
        </table>
    </div>
{% endblock %}